/* RegisterForm.css */

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 30px ; */
  border-radius: 30px;
 
  background-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;

  
}

.register-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button,
.login-button {
  padding: 15px 20px;
  background-color: #26577C;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  width: 300px;

}

.register-button:hover,
.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.or-text {
  margin-top: 10px;
  font-weight: bold;
}
