.App {
  text-align: center;
}
body {
  background-image: url("./images/image.png"); /* Replace "image.png" with your image's path */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent; /* Fallback color in case the image is not fully visible */
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin-left: 200px;
}

@media (max-width: 768px) {
  .boxContainer {
    grid-template-columns: 1fr; 
    margin-left: 0; 
  }
}
